:root {

    --white: 255, 255, 255;
    --darkSlate: 7, 7, 36;
    --midSlate: #38384F;
    --lightGrey: #838391;

    --mercuryBlue: #419EBB;
    --venusYellow: #EDA249;
    --earthPurple: #6f2ed6;
    --marsOrange: #D14C32;

    --jupiterRed: #D83A34;
    --saturnOrange: #CD5120;
    --uranusGreen: #1ec2a4;
    --neptuneBlue: #2d68f0;

    --bs-link-color: white;
    --bs-link-hover-color: white;
    --bs-border-radius: 0;
    --bs-border-color: rgba(255, 255, 255, 0.2);
    --bs-dark-rgb: var(--darkSlate);

}

@font-face {
    font-family: 'Spartan Regular';
    src: url(./assets/fonts/spartan-mb.regular.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Spartan Bold';
    src: url(./assets/fonts/spartan-mb.bold.otf);
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'Spartan Regular', sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 14px;
    font-style: normal;
    line-height: 25px;
    background: url(./assets/background-stars.svg) center center / cover no-repeat rgb(var(--darkSlate));
    color: white;
}

h1,
.h1,
h2,
.h2,
.font-heading {
    font-family: "Antonio", sans-serif;
    font-optical-sizing: auto;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
}

h3,
.h3,
h4,
.h4 {
    font-family: "Spartan Bold", sans-serif;
    font-optical-sizing: auto;
    text-transform: uppercase;
    font-style: normal;
    margin-bottom: 0;
    font-weight: 600;
}

h1,
.h1 {
    font-size: 40px;
    line-height: 52px;
}

h2,
.h2 {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -1.5px;
}

h3,
.h3 {
    font-size: 9px;
    line-height: 25px;
    letter-spacing: 2.6px;
}

h4,
.h4 {
    font-size: 11px;
    letter-spacing: 1px;
}

.fw-bold {
    font-weight: 600 !important;
}

main {
    min-height: calc(100vh - 77px);
    text-align: center;
}

main::before {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    top: 116px;
    background: var(--bs-border-color);
    left: 0;
    right: 0;
}

.planet-images {
    display: none;
}

.overview-img {
    display: block;
}

.image-wrapper {
    height: 224px;
    width: 224px;
    margin: 54px auto 0;
}

.image-wrapper img {
    max-width: 100%;
}

.geology-img {
    bottom: -15px;
    height: 110px;
    width: auto;
}

.nav {
    --bs-nav-link-padding-x: 1.25rem;
    --bs-nav-link-padding-y: .75rem;
}

.navbar-brand {
    font-size: 28px;
}

.circle-indicator {
    height: 20px;
    width: 20px;
    position: relative;
    margin-right: 24px;
    border-radius: 50%;
}

.mercury {
    --primaryBg: var(--mercuryBlue);

    .nav-pills {
        --bs-nav-pills-link-active-bg: var(--mercuryBlue);
    }

}

.circle-indicator.mercury {
    background-color: #DEF4FC;
}

.venus {
    --primaryBg: var(--venusYellow);

    .nav-pills {
        --bs-nav-pills-link-active-bg: var(--venusYellow);
    }
}

.circle-indicator.venus {
    background-color: #F7CC7F;
}

.earth {
    --primaryBg: var(--earthPurple);

    .nav-pills {
        --bs-nav-pills-link-active-bg: var(--earthPurple);
    }

}

.circle-indicator.earth {
    background-color: #545BFE;
}

.mars {
    --primaryBg: var(--marsOrange);

    .nav-pills {
        --bs-nav-pills-link-active-bg: var(--marsOrange);
    }

}

.circle-indicator.mars {
    background-color: #FF6A45;
}

.jupiter {
    --primaryBg: var(--jupiterRed);

    .nav-pills {
        --bs-nav-pills-link-active-bg: var(--jupiterRed);
    }

}

.circle-indicator.jupiter {
    background-color: #ECAD7A;
}

.saturn {
    --primaryBg: var(--saturnOrange);

    .nav-pills {
        --bs-nav-pills-link-active-bg: var(--saturnOrange);
    }

}

.circle-indicator.saturn {
    background-color: #FCCB6B;
}

.uranus {
    --primaryBg: var(--uranusGreen);

    .nav-pills {
        --bs-nav-pills-link-active-bg: var(--uranusGreen);
    }

}

.circle-indicator.uranus {
    background-color: #65F0D5;
}

.neptune {
    --primaryBg: var(--neptuneBlue);

    .nav-pills {
        --bs-nav-pills-link-active-bg: var(--neptuneBlue);
    }

}

.circle-indicator.neptune {
    background-color: #497EFA;
}

button.navbar-toggler {
    padding: 0;
    border: none;
}

.navbar-toggler:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

li.nav-item {
    position: relative;
}

.nav-item a {
    font-size: 15px;
    font-family: 'Spartan Bold', sans-serif;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 1.36px;
    text-transform: uppercase;
    border-bottom: 1px solid var(--bs-border-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-block: 18px;
}

.nav-pills {
    position: absolute;
    top: 67px;
}

.nav-pills .nav-link:hover {
    background: #313148;
    border-color: #313148 !important;
}

.nav-pills .nav-link.active,
.nav-pills .nav-link:active,
.nav-pills .show>.nav-link {
    background-color: transparent;
    border: none;
}

.nav-pills .nav-link.active::after {
    content: "";
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: var(--bs-nav-pills-link-active-bg);
    left: 0;
    right: 0;
    bottom: 0;
}

.wiki-link,
.wiki-link a {
    color: var(--lightGrey);
}

@media (min-width: 768px) {

    main {
        text-align: left;
    }

    main::before {
        display: none;
    }

    .image-wrapper {
        height: 380px;
        width: 380px;
        margin: auto;
    }

    .geology-img {
        width: 163px;
        height: 199px;
        bottom: -50px;
    }

    h1,
    .h1 {
        font-size: 48px;
        line-height: 64px;
    }

    h3,
    .h3 {
        font-size: 12px;
    }

    .nav-pills {
        position: relative;
        top: 0px;
    }

    .nav-pills .nav-link {
        text-align: left;
        border: 1px solid var(--bs-border-color);
    }

    .nav-pills .nav-link.active,
    .nav-pills .nav-link:active,
    .nav-pills .show>.nav-link {
        border-color: var(--bs-nav-pills-link-active-bg) !important;
        background-color: var(--bs-nav-pills-link-active-bg) !important;
        border-bottom: 1px solid;
    }

    .nav-item a {
        font-size: 11px;
        letter-spacing: 1px;
        border: none;
        padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    }

    .offcanvas li.nav-item:has(.active)::after {
        content: "";
        display: block;
        width: 48px;
        height: 4px;
        background: var(--primaryBg);
        top: auto;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        bottom: -16px;
    }

}

@media (min-width: 1200px) {

    h1,
    .h1 {
        font-size: 80px;
        line-height: 103px;
    }

    h2,
    .h2 {
        font-size: 40px;
        line-height: 52px;
    }

    h4,
    .h4 {
        line-height: 25px;
    }

    .container-sm {
        max-width: 1110px;
    }

    .geology-img {
        bottom: 20px;
    }

    .planet-information {
        height: 100%;
    }

    .image-wrapper {
        height: 582px;
        width: 582px;
    }

    .offcanvas li.nav-item:has(.active)::after {
        display: none;
    }

    .offcanvas li.nav-item:has(.active)::before {
        content: "";
        display: block;
        width: 48px;
        height: 4px;
        background: var(--primaryBg);
        top: -16px;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
    }

}