:root {

    --white: 255, 255, 255;
    --darkSlate: 7, 7, 36;
    --midSlate: #38384F;
    --lightGrey: #838391;

    --mercuryBlue: #419EBB;
    --venusYellow: #EDA249;
    --earthPurple: #6f2ed6;
    --marsOrange: #D14C32;

    --jupiterRed: #D83A34;
    --saturnOrange: #CD5120;
    --uranusGreen: #1ec2a4;
    --neptuneBlue: #2d68f0;

    --bs-link-color: white;
    --bs-link-hover-color: white;
    --bs-border-radius: 0;
    --bs-border-color: rgba(255, 255, 255, 0.2);
    --bs-dark-rgb: var(--darkSlate);

}

body {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.25;
    background: url(./assets/background-stars.svg) center center / cover no-repeat rgb(var(--darkSlate));
    color: white;
}

h1,
.h1,
h2,
.h2,
.font-heading {
    font-family: "Antonio", sans-serif;
    font-optical-sizing: auto;
    text-transform: uppercase;
    font-style: normal;

}

h3,
.h3,
h4,
.h4 {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    text-transform: uppercase;
    font-style: normal;
    margin-bottom: 0;
    font-weight: 600;
}

h1,
.h2 {
    font-size: 80px;
    line-height: 103px;
    font-weight: 500;
}

h2,
.h2 {
    font-size: 40px;
    line-height: 52px;
    font-weight: 500;
    letter-spacing: -1.5px;
}

h3,
.h3 {
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 2.6px;
}

h4,
.h4 {
    font-size: 11px;
    line-height: 25px;
    letter-spacing: 1px;
}

main {
    min-height: 100vh;
}

.container-sm {
    max-width: 1110px;
}

.planet-images {
    display: none;
}

.overview-img {
    display: block;
}

.image-wrapper {
    height: 582px;
    width: 582px;
}

.image-wrapper img {
    max-width: 100%;
}

.geology-img {
    bottom: 20px;
}

.navbar-brand {
    font-size: 28px;
}

.mercury .nav-pills {
    --bs-nav-pills-link-active-bg: var(--mercuryBlue);
}

.venus .nav-pills {
    --bs-nav-pills-link-active-bg: var(--venusYellow);
}

.earth .nav-pills {
    --bs-nav-pills-link-active-bg: var(--earthPurple);
}

.mars .nav-pills {
    --bs-nav-pills-link-active-bg: var(--marsOrange);
}

.jupiter .nav-pills {
    --bs-nav-pills-link-active-bg: var(--jupiterRed);
}

.saturn .nav-pills {
    --bs-nav-pills-link-active-bg: var(--saturnOrange);
}

.uranus .nav-pills {
    --bs-nav-pills-link-active-bg: var(--uranusGreen);
}

.neptune .nav-pills {
    --bs-nav-pills-link-active-bg: var(--neptuneBlue);
}

.nav-pills .nav-link:hover {
    background: #313148;
    border-color: #313148 !important;
}

.nav-pills .nav-link.active,
.nav-pills .nav-link:active,
.nav-pills .show>.nav-link {
    border-color: var(--bs-nav-pills-link-active-bg) !important;
    background-color: var(--bs-nav-pills-link-active-bg) !important;
}

.wiki-link,
.wiki-link a {
    color: var(--lightGrey);
}